@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.129 0.042 264.695);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.984 0.003 247.858);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.446 0.043 257.281);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-primary: #e7c9a5;
  --color-primary-admin: #25388c;
  --color-green: #027a48;
  --color-green-100: #ecfdf3;
  --color-green-400: #4c7b62;
  --color-green-500: #2cc171;
  --color-green-800: #027a48;
  --color-red: #ef3a4b;
  --color-red-400: #f46f70;
  --color-red-500: #e27233;
  --color-red-800: #ef3a4b;
  --color-blue-100: #0089f1;
  --color-light-100: #d6e0ff;
  --color-light-200: #eed1ac;
  --color-light-300: #f8f8ff;
  --color-light-400: #edf1f1;
  --color-light-500: #8d8d8d;
  --color-light-600: #f9fafb;
  --color-light-700: #e2e8f0;
  --color-light-800: #f8fafc;
  --color-dark-100: #16191e;
  --color-dark-200: #3a354e;
  --color-dark-300: #232839;
  --color-dark-400: #1e293b;
  --color-dark-500: #0f172a;
  --color-dark-600: #333c5c;
  --color-dark-700: #464f6f;
  --color-dark-800: #1e2230;
  --color-gray-100: #cbd5e1;
  --breakpoint-xs: 480px;
  --font-light: var(--font-light), sans-serif;
  --font-normal: var(--font-normal), sans-serif;
  --font-semibold: var(--font-semibold), sans-serif;
  --font-bold: var(--font-bold), sans-serif;
  --font-bebas-neue: var(--font-bebas-neue);
  --background-image-pattern: url(/images/pattern.webp);
  --background-image-gradient-vertical: linear-gradient(
    180deg,
    #12141d 0%,
    #12151f 100%
  );
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --radius: 0.5rem;
  }
  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  hr {
    @apply border-gray-600;
  }
}

@layer components {
  .form-btn {
    @apply bg-primary text-dark-100 hover:bg-primary inline-flex min-h-14 w-full items-center justify-center rounded-md px-6 py-2 !font-bold !text-base;
  }

  .form-input {
    @apply w-full min-h-14 border-none text-base font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:!ring-0 focus-visible:!shadow-none !bg-dark-300;
  }

  .search-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #232839 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
  }

  /* Book Card */
  .book-title {
    @apply mt-2 line-clamp-2 text-base font-semibold text-white xs:text-xl;
  }

  .book-genre {
    @apply mt-1 line-clamp-1 text-sm italic text-light-100 xs:text-base;
  }

  .book-loaned {
    @apply flex flex-row items-center gap-1 max-xs:justify-center;
  }

  .book-btn {
    @apply bg-dark-600 mt-3 min-h-14 w-full font-bebas-neue text-base text-primary;
  }

  /* Borrowed Book */
  .borrowed-book {
    @apply bg-gradient-vertical p-5 rounded-2xl w-full max-w-[330px] relative;
  }

  .borrowed-book_cover {
    @apply py-4 lg:px-16 px-10 rounded-lg flex justify-center;
  }

  /* Book Cover */
  .book-cover_extra_small {
    @apply w-[28.95px] h-10;
  }

  .book-cover_small {
    @apply w-[55px] h-[76px];
  }

  .book-cover_medium {
    @apply w-[144px] h-[199px];
  }

  .book-cover_regular {
    @apply sm:w-[174px] w-[114px] sm:h-[239px] h-[169px];
  }

  .book-cover_wide {
    @apply xs:w-[296px] w-[256px] xs:h-[404px] h-[354px];
  }

  /* Book List */
  .book-list {
    @apply mt-10 grid xl:grid-cols-6 max-xl:grid-cols-5 max-lg:grid-cols-4 max-[880px]:!grid-cols-3 max-xs:!grid-cols-2 gap-5 max-xs:justify-between xs:gap-10;
  }

  /* Book Overview */
  .book-overview {
    @apply flex flex-col-reverse items-center gap-12 sm:gap-32 xl:flex-row xl:gap-8;
  }

  .book-overview h1 {
    @apply text-5xl font-semibold text-white md:text-7xl;
  }

  .book-info {
    @apply mt-7 flex flex-row flex-wrap gap-4 text-xl text-light-100 max-lg:text-lg max-sm:text-base;
  }

  .book-copies {
    @apply flex flex-row flex-wrap gap-4 mt-1;
  }

  .book-copies p {
    @apply text-xl text-light-100 max-lg:text-lg;
  }

  .book-copies p span {
    @apply ml-2 font-semibold text-primary;
  }

  .book-description {
    @apply mt-2 text-justify text-lg text-light-100 max-sm:text-base;
  }

  .book-overview_btn {
    @apply mt-4 min-h-14 w-fit bg-primary text-dark-100 hover:bg-primary/90 max-md:w-full;
  }

  /* File Upload */
  .upload-btn {
    @apply flex min-h-14 w-full items-center justify-center gap-1.5 rounded-md bg-dark-300;
  }

  .upload-filename {
    @apply mt-1 text-center text-xs;
  }

  .progress {
    @apply rounded-full bg-green-800 p-0.5 text-center font-bebas-neue text-[8px] font-bold leading-none text-light-100;
  }

  /* Search */
  .search {
    @apply relative mt-10 flex gap-3 min-h-14 max-sm:min-h-12 w-full items-center rounded-lg bg-dark-300 px-4;
  }

  .search-input {
    @apply w-full border-none font-bold placeholder:font-normal text-white max-[500px]:text-sm placeholder:text-light-100 focus-visible:ring-0 focus-visible:outline-0;
  }

  .search-title {
    @apply font-semibold;
    font-size: clamp(25px, 6.5vw, 48px);
    line-height: clamp(35px, 9vw, 60px);
  }

  /* Book Receipt */
  .book-receipt_admin-btn {
    @apply bg-light-300 rounded-md text-primary-admin font-semibold hover:bg-light-300/80;
  }

  /* Book Ticket */
  #book-ticket {
    @apply relative mt-10 hidden w-[544px] overflow-hidden bg-dark-300 py-8;
  }

  #book-ticket #book-details div {
    @apply space-y-1 rounded-md border border-light-100/10 p-3;
  }

  #book-ticket #book-details div p:first-child {
    @apply text-xs text-light-700;
  }

  #book-ticket #book-details div p:last-child {
    @apply text-sm font-bold text-white;
  }

  #book-ticket #book-divider div:first-child {
    @apply absolute -left-3.5 top-1/2 size-7 -translate-y-1/2 rounded-full bg-black;
  }

  #book-ticket #book-divider div:last-child {
    @apply absolute -right-3.5 top-1/2 size-7 -translate-y-1/2 rounded-full bg-black;
  }

  .book-ticket-circles {
    @apply absolute inset-x-0 -bottom-6 flex flex-row gap-1.5;
  }

  /* Not Found */
  #not-found {
    @apply flex justify-center items-center flex-col text-center w-full;
  }

  #not-found h4 {
    @apply text-white mt-6 font-semibold text-2xl;
  }

  #not-found p {
    @apply text-light-100 w-[360px] mt-1;
  }

  .not-found-btn {
    @apply bg-primary font-bebas-neue min-w-[360px] mt-6 text-dark-100 text-xl hover:bg-primary/90 min-h-12;
  }

  /* Pagination */
  #pagination {
    @apply flex flex-row justify-end gap-3;
  }

  .pagination-btn_light {
    @apply bg-light-300 text-dark-300 hover:bg-light-300/70;
  }

  .pagination-btn_dark {
    @apply bg-dark-300 hover:bg-dark-100;
  }

  #pagination p {
    @apply text-sm inline-flex items-center font-semibold px-4 py-1.5 rounded-md text-center;
  }

  /* Sort */
  .select-trigger {
    @apply w-40 h-10 px-4 bg-dark-300 text-light-100 border-dark-100;
  }

  .select-content {
    @apply bg-dark-300 text-light-100 border-dark-100;
  }

  .select-item {
    @apply focus:bg-dark-600 focus:text-light-100;
  }

  /* ADMIN STYLES */

  .admin-container {
    @apply flex w-[calc(100%-264px)] flex-1 flex-col bg-light-300 p-5 xs:p-10;
  }

  .back-btn {
    @apply mb-10 w-fit border !border-light-300 !bg-white text-xs font-medium text-dark-200 hover:!bg-light-300;
  }

  /* Confirmation Dialog */
  .confirm-trigger {
    @apply font-semibold text-sm shadow-none w-full;
  }

  .confirm-approve {
    @apply bg-green-100 text-green-800 hover:bg-green-100/70;
  }

  .confirm-reject {
    @apply bg-red-100 text-red-800 hover:bg-red-100/70;
  }

  .confirm-content {
    @apply sm:max-w-md flex flex-col items-center justify-center p-6;
  }

  .confirm-illustration {
    @apply size-28 rounded-full flex justify-center items-center mx-auto;
  }

  .confirm-illustration div:first-child {
    @apply size-[70%] rounded-full flex justify-center items-center;
  }

  .confirm-btn {
    @apply w-full min-h-14 rounded-xl font-bold text-base text-light-800;
  }

  /* Book Form */
  .book-form_input {
    @apply min-h-14 border border-gray-100 bg-light-600 p-4 text-base font-semibold placeholder:font-normal placeholder:text-slate-500;
  }

  .book-form_btn {
    @apply min-h-14 w-full !bg-primary-admin hover:!bg-primary-admin/90;
  }

  /* Home Page */
  .view-btn {
    @apply bg-light-300 rounded-md text-primary-admin font-semibold hover:bg-light-300/80 shadow-none;
  }

  .add-new-book_btn {
    @apply mt-7 mb-3 bg-light-300 py-4 px-3 flex flex-row items-center rounded-xl gap-4;
  }

  .add-new-book_btn div:first-child {
    @apply size-12 bg-white rounded-full flex justify-center items-center;
  }

  .add-new-book_btn p:first-child {
    @apply font-semibold text-lg text-dark-400;
  }

  /* Statistics */
  .stat {
    @apply bg-white rounded-xl p-5 space-y-5 flex-1;
  }

  .stat-info {
    @apply flex justify-between items-center gap-5;
  }

  .stat-label {
    @apply font-medium text-base text-light-500 whitespace-nowrap;
  }

  .stat-count {
    @apply font-semibold text-3xl text-dark-400;
  }

  /* Book Stripe */
  .book-stripe {
    @apply flex flex-row gap-4 bg-light-300 p-4 rounded-lg;
  }

  .book-stripe .title {
    @apply font-semibold text-base text-dark-400 line-clamp-1;
  }

  .book-stripe .author {
    @apply flex flex-wrap flex-row items-center gap-2;
  }

  .book-stripe .author p:first-child {
    @apply text-light-500 text-sm line-clamp-1;
  }

  .book-stripe .author div {
    @apply size-1 rounded-full bg-light-500;
  }

  .book-stripe .author p:last-child {
    @apply text-light-500 text-sm;
  }

  .book-stripe .user {
    @apply mt-2.5 flex flex-row flex-wrap gap-5;
  }

  .book-stripe .user .avatar {
    @apply flex flex-row items-center gap-1.5;
  }

  .book-stripe .user .avatar p {
    @apply text-xs text-dark-200;
  }

  .book-stripe .borrow-date {
    @apply flex flex-row items-center gap-1.5;
  }

  .book-stripe .borrow-date p {
    @apply text-xs text-dark-200;
  }

  /* Color Picker */
  .color-picker {
    @apply flex min-h-14 flex-row items-center gap-3 rounded-md border border-gray-100 bg-light-600 p-4 text-base font-semibold text-dark-400;
  }

  .hex-input {
    @apply flex-1 bg-transparent outline-none;
  }

  .hex-color-picker {
    @apply absolute left-0 top-full z-50 mt-3;
  }

  /* Error Fallback */
  .error-fallback {
    @apply p-4 bg-red-100 text-red-700 rounded-md;
  }

  .error-fallback h2 {
    @apply text-lg font-semibold mb-2;
  }

  /* Header */
  .admin-header {
    @apply flex lg:items-end items-start justify-between lg:flex-row flex-col gap-5 sm:mb-10 mb-5;
  }

  /* Search */
  .admin-search {
    @apply flex border border-gray-100 min-h-14 items-center gap-1 rounded-md bg-light-600 px-4 lg:max-w-md w-full;
  }

  .admin-search_input {
    @apply w-full border-0 shadow-none bg-transparent outline-none focus:outline-none focus:ring-0 focus:border-0;
  }

  /* Sidebar */
  .admin-sidebar {
    @apply sticky left-0 top-0 flex h-dvh flex-col justify-between bg-white px-5 pb-5 pt-10;
  }

  .admin-sidebar .logo {
    @apply flex flex-row items-center gap-2 border-b border-dashed border-primary-admin/20 pb-10 max-xl:justify-center;
  }

  .admin-sidebar .logo h1 {
    @apply text-2xl font-semibold text-primary-admin max-xl:hidden;
  }

  .admin-sidebar .link {
    @apply flex flex-row items-center w-full max-xl:w-[95%] gap-2 rounded-lg px-5 py-3.5 max-xl:justify-center;
  }

  .admin-sidebar .link p {
    @apply text-base font-medium max-xl:hidden;
  }

  .admin-sidebar .user {
    @apply my-8 flex w-full flex-row gap-2 items-center rounded-full border border-light-400 px-3 py-2 shadow-sm max-md:px-2;
  }

  /* User Card */
  .user-card {
    @apply w-40 bg-light-300 py-4 px-3 flex justify-center items-center flex-col rounded-xl text-center;
  }

  .user-card .name {
    @apply font-medium mt-3 text-dark-400 line-clamp-1 w-full break-words;
  }

  .user-card .email {
    @apply text-light-500 text-sm line-clamp-1 break-words w-full;
  }
}

@layer utilities {
  .gradient-vertical {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  }
  .gradient-gray {
    background: linear-gradient(270deg, #37363a 0%, #353637 100%);
  }
  .gradient-blue {
    background: linear-gradient(180deg, #232839 0%, #12141d 100%);
  }

  /* Auth */
  .auth-container {
    @apply relative flex flex-col-reverse text-light-100 md:flex-row;
  }

  .auth-form {
    @apply my-auto flex h-full min-h-screen flex-1 items-center bg-pattern bg-cover bg-top bg-dark-100 px-5 py-10;
  }

  .auth-box {
    @apply bg-gradient-vertical mx-auto flex max-w-xl flex-col gap-6 rounded-lg p-10;
  }

  .auth-illustration {
    @apply sticky h-40 w-full sm:top-0 md:h-screen md:flex-1;
  }

  /* Root */
  .root-container {
    @apply flex min-h-screen flex-1 flex-col bg-pattern bg-cover bg-top bg-dark-100 px-5 xs:px-10 md:px-16 text-white;
  }

  /* Book Details */
  .book-details {
    @apply lg:mt-36 mt-16 mb-20 flex flex-col gap-18 lg:flex-row;
  }

  .book-details h3 {
    @apply text-3xl font-semibold;
  }

  /* Library */
  .library {
    @apply mx-auto flex max-w-xl w-full flex-col text-center;
  }

  .library-subtitle {
    @apply text-lg font-semibold uppercase text-light-100;
  }

  .library-title {
    @apply mt-2 text-3xl font-semibold text-white xs:text-5xl;
  }

  /* Receipt */
  .receipt-container {
    @apply absolute flex flex-col gap-6 p-10 bg-[#232839] text-light-100 z-50 w-max rounded-lg;
  }

  .book-details_item {
    @apply flex flex-col gap-2 text-[12px] p-[10px] border border-gray-500 rounded-[6px];
  }

  .span {
    @apply text-white font-normal text-sm;
  }
}
